*{
    background-color: rgb(243, 243, 243);
    color:whitesmoke;
}
.movie-list-container{
    margin:10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.movie-grid{
    background-color: rgb(39, 1, 54);
    width:350px;
    overflow: hidden;
    cursor: pointer;
    margin:20px 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

}


.title,.genres_rating,.director,.production{
    background-color: rgb(39, 1, 54);
    margin:13px;
    text-align: center;
    width:350px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal; 
}
button{
    width:50%;
    height:70px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: large;
}
button:hover{
    background-color: darkgoldenrod;
}
.watchnow{
    background-color: rgb(6, 46, 78);
}
.remove{
    background-color: rgb(95, 3, 22);
}

.searchbar{
    display: flex;
    align-items: center;
    /* margin:10px 10%; */
    margin:0px 10px;
    border-radius: 10px;
    overflow: hidden;
    

}
input[type='search']{
    padding:30px;
    width: 600px;
    outline: none;
    border:none;
    background-color: rgb(39, 39, 35);
   font-size: large;

}
.filter{
    padding:30px;
    background-color: rgb(24, 24, 22);
    cursor: pointer;

}
.search-icon{
    padding:30px;
    background-color: rgb(31, 31, 29);
    cursor: pointer;

}

.navbar{
    padding: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

a{
    padding:0px 20px;
    font-size: 20px;
   text-decoration: none;
   color: black;
}
